.profile-page{
    background-color: rgb(252, 234, 252);
    font-size: x-large;
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    margin-top: 100px;
    padding: 30px 30px;
    border-radius: 10px;
    row-gap: 20px;
    column-gap: 20px;
}
.profile-page-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
table,th,td{
    border : 1px solid;
    border-collapse: collapse;
}
th{
    padding: 10px 10px;
    font-size: larger;
    background-color: rgb(223, 122, 223);
}
td{
    padding: 10px 10px;
    font-size: large;
    background-color: rgb(252, 234, 252);
}
.clear-history{
    background-color: rgb(115, 59, 59);
    color: white;
    padding: 10px 10px;
    border-radius: 4px;
    font-size: larger;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}