.sidebar{
    position: fixed;
    top: 90px;

    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px 20px;
    max-width: 350px;
    background: linear-gradient(rgb(3, 86, 88) 0%, rgb(48, 146, 150) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    color: whitesmoke;
    font-size: x-large;

}
.grid-filter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3px;
}
.heading-filter{
    margin: 0;
    font-family: cursive;
    margin-top: 30px;
    margin-bottom: 10px;
}
.checkbox{
    cursor: pointer;
    transition: 25ms;
}
.checkbox:hover{
    transform: scale(1.2);
}