.sidebar{
    position: fixed;
    top: 70px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px 20px;
    max-width: 280px;
    background: linear-gradient(  rgb(95, 6, 95)  0%, rgb(95, 6, 95) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    color: whitesmoke;
    font-size: larger;

}
.grid-filter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3px;
}
.heading-filter{
    margin: 0;
    font-family: cursive;
    margin-top: 30px;
    margin-bottom: 10px;
}
.checkbox{
    cursor: pointer;
    transition: 25ms;
}
.checkbox:hover{
    transform: scale(1.2);
}