.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: rgb(243, 208, 243);
    color: rgb(55, 20, 87);
}



.login-button{
    max-width: 100px;
    transition: 0.1s;
}
.login-button:hover{
    transform: scale(1.03);
}
.link-register{
    position: relative;
    font-size: larger;
    text-decoration: none;

    transition: 0.1s;
    margin-top: 10px;
    font-weight: bolder;
}
.link-register:hover{
    transform: scale(1.03);
}
#user-type{
    padding: 10px 20px;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: large;
}
.role-toggle:hover{
 transform: scale(1.01);
}
.header{
    font-size: xx-large;
    margin-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login-input{
    width: 300px;
}
.loadingContainer{
    backdrop-filter: blur(2px);
}