.order{
    display: flex;
    flex-direction: column;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    transition: 80ms;
    background-color: rgb(252, 234, 252);
}
.order:hover{
    transform: scale(1.01);
}
.order-adtl-info{
    padding: 20px 20px;
    font-size: larger;
    font-style: italic;
    background-color: rgb(252, 234, 252);
}
.order-card-button{
    padding: 10px 10px;
    background-color: rgb(116, 30, 116);
    border: none;
    color: white;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transition: 40ms;
}
.order-card-button:hover{
    transform: scale(1.02);
}
.close-icon{
    font-size: 40px;
    align-self: end;
    cursor: pointer;
    transition: 40ms;
}
.close-icon:hover{
    transform: scale(1.02);
}
.status-step{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(196, 196, 196);
    display: flex;
    justify-content: center;
    align-items: center;
}