.userlist{
    display: flex;
    flex-direction: column;
    background-color: #6b076b;
    width: 300px;
    padding: 20px 20px;
    position: fixed;
    top: 65px;
    left: 0;
}
.user-management{
    display: flex;
    flex-direction: row;
}
.user-tile{
    padding: 10px 10px;
    font-size: x-large;
    cursor: pointer;
    text-align: center;
    background-color: #8c078c;
    color: white;
    margin-bottom: 20px;
    border-radius: 5px;
}
.orders-comp{
    position: relative;
    margin-left: 350px;
}