.loadingContainer{
    backdrop-filter: blur(2px);
    z-index: 10;
    position: fixed;
    height: 100%;
    width: 100%;
}
.loading{
    z-index: 1000;
    position: fixed;
    top : 0;
    left:0;
    right: 0;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
}